*{ position: relative; }


body
{	
	background-color: #ffc0cba1;	
}
.inputForm{
	background-color: #ffc0cb17;
}


.container-fluid{
	display: flex;
	align-items: center;
    flex-direction: column;
}

.mascara2{
	background-image: url(dibujo.svg);	
	width: 100%;
	background-size: contain;
	height: 50%;
	padding: 50%;
	background-repeat: no-repeat;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

	.mascara2{		
		margin-top: 3em;
	}

}