* {
  position: relative;
}

body {
  background-color: #ffc0cba1;
}

.inputForm {
  background-color: #ffc0cb17;
  border:none;
  font-size: 23px;
  text-align:center;
  text-transform:uppercase;
}

.container-fluid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mascara2 {
  background-image: url(dibujo.svg);
  width: 100%;
  background-size: contain;
  height: 50%;
  padding: 50%;
  background-repeat: no-repeat;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .mascara2 {
    margin-top: 3em;
  }
  .inputForm {
    font-size:51px;
  }
}



/*# sourceMappingURL=style.css.map */
